<div class="mt-5 footer">

<div class="bottom-container d-flex justify-content-center align-items-center grain">

<div class="bottom-inner-container d-flex justify-content-center align-items-center footer grain">
<div class="container">

  <div class="d-flex justify-content-around align-items-center">
    <div class="d-flex justify-content-around icons">
      <i class="m-3 fab fa-facebook-square"></i>
      <i class="m-3 fab fa-twitter-square"></i>
      <i class="m-3 fas fa-envelope-square"></i>
      <i class="m-3 fas fa-phone-square"></i>
    </div>

    <div class="mailing-list text-center">
      <form action="">
        <label for="fname">Sign up to the Novak Cabaret mailing list:</label><br>
        <input type="text" id="fname" name="fname"><br>
      </form>
    </div>

  </div>
</div>
<%# <h5>Sign up to the Novak Cabaret mailing list</h5> %>


</div>

</div>

</div>
