<%= render "components/page_header" %>

<div class='mb-5'>


</div>

<div class='about-page-container grain d-flex justify-content-center align-items-center'>
  <div class="grain inner-about-page-container d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="d-flex">
      <div class = 'header-image grain'>
      <%= cl_image_tag("dad_affo03", style: "height: 380px; width: 380px; border-radius:8px;box-shadow: rgb(0 0 0) 0px 0px 5px 5px;;z-index: -1; position:relative;") %>
      </div>
      <div class='d-flex justify-content-center align-items-center'>
      <div class='about-text text-center'>
        <h5 class ='m-3'>NOVAK</h5>
        <p>Paul Novak is a magic enthusiast, effect creator and street performer based in a small town just outside of Edinburgh, Scotland. He is known for his work with the PBH Free Fringe as an organiser, and various other magical societies across Scotland. His attention to detail and enthusiasm for the craft has brought him to building his own unique and bizzarre themed effects that you can find on this website. Outside of the magical realm, he lives with his wife and dog, loves to cook and can often be found researching, collecting and reading.</p>
      </div>
      </div>
      </div>
    </div>
  </div>

</div>


<%= render "components/page_footer" %>
