.about-page-container {
  height: 450px;
  background-color: #4B4662;
  position:sticky;
}

.about-text {
  color: #dbdbdb;
}



.inner-about-page-container {
  height: 320px;
  background-color: black;
  width: 100%;
  z-index: -1;
}
