.about-page-container {
  height: 420px;
  background-color: #4B4662;
}

.about-text h5 p {
  color: white;
}



.inner-about-page-container {
  height: 320px;
  background-color: black;
  width: 100%;
}
