.log-nav {
  border-top: 2px solid #000;
}

.sign {
  border-right: 1px solid #0d0d0d;
}

.side-border {
  border-right: 1px solid #0d0d0d;
}

.side-border-right {
  border-left: 1px solid #0d0d0d;
}
