// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'home';


body {
  font-family: 'Libre Baskerville', serif;
  background-color: #F5F5F5;
}

a {
  font-size: 20px;
  text-decoration: none;
  color:black;
}


.footer {
  color:#F9F9F9;
}

.icons {
  font-size: 40px;
}

.mailing-list {
  font-size:16px;
}
